.jumbotron {
    margin-left:18px;
}

.jumbotron h1 {
    color:aliceblue;
    
    
}

.jumbotron p {
    color:aliceblue
}

.white-text h2 {
    color: aliceblue;
}

.aliceblue-text p {
    color: aliceblue;
}

.col-md-12 p {
    color: aliceblue;
}

.footer {
    color:white;
}

body {
    background-color: black;
}